/* ------ BODY ------- */

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  margin: auto;
  width: 98%;
  max-width: 1000px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* ------ TITULO ------- */

h1,
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background-color: rgb(31, 31, 31);
}

header > h1 {
  color: white;
  font-size: 35px;
}

h1 + h2 {
  color: rgb(76, 103, 192);
  font-size: 20px;
}

h3 {
  color: white;
}

/* ------ CONTENTENEDOR ------- */

#content {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 0px;
}

div #ejercicio {
  width: 50%;
  background-color: rgb(196, 196, 196);
  padding-top: 10px;
  padding-bottom: 10px;
}

p a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 3px black;
}

div #ejemplo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(221, 221, 221);
}

a {
  text-decoration: none;
}

/* ------ BOTON SIGUIENTE ------- */

#siguiente {
  width: 100%;
  background-color: rgb(99, 1, 190);
  margin: 0px;
  padding: 20px;
}

#siguiente a {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

#siguiente a:hover {
  color: rgb(125, 252, 252);
  text-shadow: 1px 1px 2px black;
}

/* ------ FOOTER ------- */

footer {
  padding: 20px;
  background-color: rgb(59, 59, 59);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

footer p {
  color: rgb(136, 136, 136);
}

/* ------ EJERCICIO 1 ------- */

#ejercicio p {
  padding-right: 30px;
  padding-left: 30px;
}

#ejemplo button {
  margin-bottom: 12px;
  width: 130px;
}

#ejemplo button:hover {
  background-color: rgb(110, 255, 171);
  cursor: pointer;
}

#ejemplo a:hover {
  background-color: red;
}

.spanverde {
  color: green;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ------ EJERCICIO 2 ------- */

#ejemplo-ejercicio2 {
  text-align: left;
  align-content: right;
  margin-left: 40px;
  margin-bottom: 10px;
}

#ejemplo-ejercicio2 li {
  font-weight: bold;
  padding-top: 2px;
}

#ejemplo-ejercicio2 ul {
  padding: 0px;
  margin: 1px;
  font-style: oblique;
}

/* ------ EJERCICIO 3 ------- */

#ejemplo-ejercicio3 {
  display: flex;
  width: 50%;
}

#ejemplo-ejercicio3 p3 {
  padding-top: 20px;
  padding-left: 60px;
}

#ejemplo-ejercicio3 p3 span {
  color: red;
}

#ejemplo-ejercicio3 li + li {
  color: blue;
}

.especial {
  color: green;
}
